doctype html
html
  head
    title Analie
    link( rel="stylesheet" href="/stylesheets/style.css" )
    link( rel="stylesheet" href="/stylesheets/reset.css" )     
    //link( rel="stylesheet" href="/stylesheets/bulma.css" )
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css")
    link( rel="stylesheet" href="/stylesheets/font-awesome-min.css" )  
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='/js/modernizr.js')
    script(src='/js/main.js')

  body
    .bodyBg
    div#app
    script( type="text/javascript" src="/js/app.bundle.js")
